:root {
  --tr-dur: 250ms;
  --tr-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --white: #fff;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
