.benefits {
  display: flex;
  flex-direction: column;
  row-gap: 72px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1158px) {
    gap: 24px;
    flex-wrap: nowrap;
  }
}

.li-benefits {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc((100% - 72px) / 4);
  }
}
.vektor {
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;

  @media screen and (max-width: 1157px) {
    display: none;
  }
}

.title-benefits {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: var(--navy-blue);

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.p-benefits {
  font-weight: 500;

  @media screen and (min-width: 1158px) {
    font-weight: 400;
  }
}
