.vektor-footer {
  margin-left: 16px;
}

.footer-section {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.span-logo-footer {
  margin-bottom: 16px;
  display: inline-block;
  color: #f4f4fd;
}
.name-studio {
  color: #f4f4fd;
}
.p-footer {
  max-width: 264px;
  color: #f4f4fd;
}
.div-footer-social {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  align-items: baseline;
}
.p-last-social {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-main-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.div-footer-logo {
  margin-right: 120px;
}
.ul-list-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.link-social.link-social-footer:hover,
.link-social.link-social-footer:focus {
  background-color: #31d0aa;
}
.portfolio:hover .item-portfolio {
  cursor: pointer;
}
.button-submit {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button-submit:hover,
.button-submit:focus {
  background-color: #404bbf;
}
.button-flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.p-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.input {
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  max-width: 264px;
  width: 100%;
  border: none;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  color: #ffffff;
}
.input:focus {
  outline: none;
  border: 1px solid #404bbf;
}
.vektor-footer {
  fill: #ffffff;
}
.div-footer-form {
  display: flex;
  gap: 24px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
