.section-hero {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image:
    linear-gradient(rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)),
    url(../images/hero/dark-bg-mobile.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 192dpi) {
    background-image:
      linear-gradient(rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)),
      url(../images/hero/dark-bg-mobile@2x.jpeg);
  }

  @media screen and (min-width: 768px) {
    padding: 112px 0;
    background-image:
      linear-gradient(rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)),
      url(../images/hero/dark-bg-tablet.jpeg);
  }

  @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    padding: 112px 0;
    background-image:
      linear-gradient(rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)),
      url(../images/hero/dark-bg-tablet@2x.jpeg);
  }

  @media screen and (min-width: 1158px) {
    padding: 188px 0;
    background-image:
      linear-gradient(rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)),
      url(../images/hero/dark-bg-desktop.jpeg);
  }

  @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    padding: 188px 0;
    background-image:
      linear-gradient(rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)),
      url(../images/hero/dark-bg-desktop@2x.jpg);
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;

  @media screen and (min-width: 768px) {
    gap: 36px;
  }

  @media screen and (min-width: 1158px) {
    gap: 48px;
  }
}
.hero-title {
  max-width: 216px;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--white);

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}

.hero-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  border: none;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
  background-color: #404bbf;
}
