.ul-list-social-team {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.link-social {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.link-social {
  transition: background-color var(--tr-dur) var(--tr-fn);
}
.link-social:hover,
.link-social:focus {
  background-color: #404bbf;
}

.vector-images {
  fill: #f4f4fd;
}
.ul-list-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.link-social.link-social-footer:hover,
.link-social.link-social-footer:focus {
  background-color: #31d0aa;
}
